#skill{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#skill h1{
    font-size: 32px;
    font-weight: 700;
}

.skill-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 30px;
    place-items: center;
}

.skill-container > a{
    width: 70px;
    height: 70px;
    transition: 0.3s;
}

.skill-container > a:hover{
    transform: scale(1.03);
}

.skill-container > a img{
    max-height: 100%;
    max-width: 100%;
    height: 100%;
}